body {
  padding-top: 50px;
}

h1 {
  padding-bottom: 15px;
}

.starter-template {
  padding: 25px 15px;
  text-align: center;
}

.lead {
  padding-top: 15px;
}

.chart-border {
  padding: 20px;
  margin: 10px;
  width: 900px;
  height: 650px;
  border: 1px solid black;
  display: inline-block;
}

#indodaper-statistics {
  width: 800px;
  height: 600px;
  display: inline-block;
}